<h1>
  Tunes
</h1>
<table>
<thead>
  <tr>
    <td>Title</td>
    <td>Collection</td>
    <td>Composer</td>
    <td>Key</td>
    <td>Meter</td>
    <td>Type</td>
    <td>Bass</td>
    <td>Variations</td>
    <td>Treble Parts</td>
    <td>Movements</td>
  </tr>
</thead>
<%= render @tunes %>
</table>
